@use './partials/global' as *; 


/* -----------------------
** header section
** 	------------------------*/
/* this section is shared across landing and menu, therefore, it is in the global.css file.


/*-------------------
** hero section
** ----------------------*/

.hero-section {

  font-weight: 400;
  font-size: 25rem; 
  background-image:url('../assets/images/coffee-circle.jpg');
  Width: 100%; 
  height: 43.75rem; 
  position: relative;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center; /*you should apply justify content here to move the image to the center of the parent, it will move the item when it is applied to the parent.*/ 
  padding-top: 13.75rem; /*padding top moves the image to the bottom */
  @include center-flex; 
}

.hero__header{
font-family: $font-stack;  
margin-top: 0%;
display: flex; 
position: relative;
justify-content: center;
margin: 0;
font-size: 3.75rem;
font-weight: 300; 
background-color:$quaternary-color; 
width: 18.75rem;    
height: 12.5rem;    
color: #FFF;

&::before {
content: '';
position: absolute;
top: -5px; /* Leaving this as px instead of rm since its a border, In order to move the border above */
left: -5px; /* this moves the border to have a horizontol space*/
right: -5px; 
bottom: -5px;
border: 5px solid $primary-color;
transform: rotate(-3deg); /* rotate is a cool feature, it rotates, and gives it angles, you can determine which angle, and how much you want to rotate. */ 
z-index: 1; /* to have the border on top of the menu box */
}
}

/*-------------------
**  menu navigation section 
** ----------------------*/ 

.menu-navigation {
    background-color: $quaternary-color;
    width: 100%; 
    height: 5rem;
    padding: 1.25rem; 
  
    
  &__list {
      font-weight: 400;
      list-style-type: none;
      margin: 0;

       li a {
      color: #FFF;
      text-decoration: none;
      font-style:$font-stack; 
      font-size: 1.3125rem; 
      font-weight: 400;
    }
  } 

  &__item {
      display: inline-block !important; 
      justify-content: center;
      padding-right: 12rem;
      padding-left: 7rem; 
      
      a::before {  /* this function can be used to have three vertical same width lines, alongside in-block display.  */
    
      content: " | "; 
      color: $primary-color;
      border-width: 0.25rem;
      
      }
    
       last-child a:after {
      
      content: '';
    
      } 
  }
}
      /*---------------------
**  product breakdown section
** ----------------------*/ 
  .Breakdown-products {
    margin: 0;
    padding: 0;
  
  }
  .menu__category {
    display: block;
    margin: 0.625rem; 
    padding: 0.625rem; 
    box-shadow: 0rem 0.125rem 0.25rem  rgba(0, 0, 0, 0.1);   
    text-align: center;
    margin: 0%;
     
   h2 {
    font-size: 3.75rem; 
    font-weight:300; 
    text-align: center;
    justify-content: center;
    padding-top: 0rem;
    color:$font-color;
    margin: 1rem;
    padding-bottom: 2rem;
  }
   h3{
   font-size: 2.0625rem; 
   text-align: center;
   justify-content: center;
   font-weight: 300;
   padding-bottom: 1.875rem; 
   margin: 0; 
   padding: 0;
  }
} 
  .price {
    font-size: 1.125rem;
    font-weight: 400;
    justify-content: center;
    color: $primary-color;
    margin: 0;
    padding-bottom: 1rem;
  }
  
  .menu__category.Hot-Drinks{
    background-color:$secondary-color; 
    font-family: $font-stack;
  }
  
  .menu__category.Cold-Drinks{
    background-color: #F7F7F7; 
  font-family: $font-stack;}
  
  .menu__category.Pastries{
    background-color: $secondary-color; 
    font-family: $font-stack;
  } 
  
  .Hot-Drinks__paragraph {
    @include font-style}
  
    .Cold-Drinks__paragraph {
      @include font-style
    }
    .Pastries__paragraph {
      @include font-style
    }
    